<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supply Management</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Supply Management</h1>
    </header>

    <main>
      <aside>
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}"
              ><i class="fa fa-home"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="{{ url_for('category') }}"
              ><i class="fa fa-plus"></i> Tambah Kategori</a
            >
          </li>
          <li>
            <a href="{{ url_for('product') }}">&#128196; Data Produk</a>
          </li>
        </ul>
      </aside>
      <section>
        <h2><i class="fa fa-box"></i> Data Produk</h2>
        <div class="dashboard-header">
          <p>Masukkan daftar data produk anda.</p>
        </div>
        <!-- Search Form -->
        <form
          action="{{ url_for('list_supply') }}"
          method="GET"
          class="search-form"
        >
          <input
            type="text"
            name="search"
            placeholder="Search supplies"
            value="{{ request.args.get('search', '') }}"
          />
          <button type="submit" class="btn-search">
            <i class="fa fa-search"></i>
          </button>
          {% if request.args.get('search') %}
          <a href="{{ url_for('list_supply') }}" class="btn-reset">
            <i class="fa fa-times"></i>
          </a>
          {% endif %}
        </form>

        <!-- Supply Form for Add/Update -->
        <div class="supply-form">
          <form action="{{ url_for('list_supply') }}" method="POST">
            <div class="form-row">
              <div class="form-group">
                <label for="supplyID">Supply ID (Optional)</label>
                <input
                  type="text"
                  id="supplyID"
                  name="supplyID"
                  placeholder="Enter Supply ID (Optional)"
                />
              </div>
              <div class="form-group">
                <label for="supplyName">Product Name</label>
                <input
                  type="text"
                  id="supplyName"
                  name="supplyName"
                  placeholder="Enter Product Name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="supplyUnit">Unit</label>
                <input
                  type="text"
                  id="supplyUnit"
                  name="supplyUnit"
                  placeholder="Enter Supply Unit"
                  required
                />
              </div>
              <div class="form-group">
                <label for="supplyCategory">Kategori</label>
                <select id="supplyCategory" name="supplyCategory" required>
                  <option value="" disabled selected>Pilih Kategori</option>
                  {% for category in categories %}
                  <option value="{{ category[0] }}">{{ category[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="supplyQuantity">Quantity</label>
                <input
                  type="number"
                  id="supplyQuantity"
                  name="supplyQuantity"
                  placeholder="Enter Supply Quantity"
                  required
                />
              </div>
            </div>
            <button type="submit" class="btn-submit">Add Supply</button>
          </form>
        </div>

        <!-- Supply List -->
        <div class="supply-list">
          <h3>Produk Anda :</h3>
          <ul id="supplyList">
            {% for supply in supplies %}
            <li>
              <strong>ID:</strong> {{ supply[0] }} <strong>Nama:</strong> {{
              supply[1] }} <strong>Unit:</strong> {{ supply[3] }}
              <strong>Kategori:</strong> {{ supply[2] }}
              <!-- Menampilkan nama kategori -->
              <strong>Quantity:</strong> {{ supply[4] }}
              <div class="actions">
                <button
                  class="btn-edit"
                  onclick="editSupply('{{ supply[0] }}', '{{ supply[1] }}', '{{ supply[2] }}', '{{ supply[3] }}', '{{ supply[4] }}')"
                >
                  Edit
                </button>
                <button
                  class="btn-delete"
                  onclick="deleteSupply('{{ supply[0] }}')"
                >
                  Delete
                </button>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Pagination -->
        <div class="pagination">
          <ul>
            {% if page > 1 %}
            <li>
              <a href="{{ url_for('supply', page=page-1) }}">Previous</a>
            </li>
            {% endif %} {% for p in range(1, total_pages + 1) %}
            <li>
              <a
                href="{{ url_for('list_supply', page=p) }}"
                class="{{ 'active' if p == page else '' }}"
                >{{ p }}</a
              >
            </li>
            {% endfor %} {% if page < total_pages %}
            <li><a href="{{ url_for('supply', page=page+1) }}">Next</a></li>
            {% endif %}
          </ul>
        </div>

        <!-- Button to supply page -->
        <a href="{{ url_for('list_supply') }}">Go to Supply</a>
      </section>
    </main>

    <script>
      // Edit Supply
      function editSupply(
        supplyId,
        supplyName,
        supplyCategoryName,
        supplyUnit,
        supplyQuantity
      ) {
        document.getElementById("supplyID").value = supplyId;
        document.getElementById("supplyName").value = supplyName;
        document.getElementById("supplyUnit").value = supplyUnit;
        document.getElementById("supplyQuantity").value = supplyQuantity;

        // Cari elemen select kategori dan atur sesuai kategori supply
        const categorySelect = document.getElementById("supplyCategory");
        for (let i = 0; i < categorySelect.options.length; i++) {
          if (categorySelect.options[i].text === supplyCategoryName) {
            categorySelect.selectedIndex = i;
            break;
          }
        }

        // Ubah action form untuk mengarah ke update route
        const form = document.querySelector(".supply-form form");
        form.action = "/update_supply/" + supplyId;
        form.method = "POST";

        // Ubah teks tombol
        document.querySelector(".btn-submit").textContent = "Update Supply";
      }

      //DELETE supplies
      function deleteSupply(supplyId) {
        if (confirm("Are you sure you want to delete this supply?")) {
          window.location.href = "/delete_supply/" + supplyId;
        }
      }
    </script>
  </body>
</html>
